
body {
    font-family: system-ui;
    color: white;
    width: 500px;
    display: flex;
    text-align: left;
  }

h3{
    color: black;
    
}

#search-text-input{
    float:left;
    height:20px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width: 150px; 
}
  
#button-holder{
    cursor:pointer;
    float:left;
    height:30px;
    margin:10px;
    text-align:center;
    width: 25px;
}
  
#button-holder img{
    margin:4px;
    width:20px; 
}