.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5px;
    border: solid;
}

.btn{
    size: 10;
    padding: 10px;   
}

.card-body{
    flex: auto
}

span.favorable{
    padding: 1px;
    background-color: green;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: orange;
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}